.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  @include mq(mob) {
    max-width: 375px;
  }
  @include mq(tablet) {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }

  @include mq(desktop) {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1440px;
  }
}
