p,
h1,
h2,
h3 {
  margin: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}
button {
  cursor: pointer;
  color: inherit;
}
a {
  display: inline-block;
  text-decoration: none;
}
