<div class="backdrop-autoriz" autoriz-is-hidden>
  <div class="autoriz-modal">
    <button class="autoriz-modal-btn" type="button" autoriz-close-menu>
      <svg class="modal-icon-cross">
        <use href="./images/svg/general-svg.svg.svg#icon-x-close"></use>
      </svg>
    </button>

    <form class="autoriz-modal-form">
      <input class="autoriz-modal-input" type="text" placeholder="NAME" />

      <div class="input-wrapper">
        <label class="autoriz-label-email" for="user_email"
          ><input
            class="autoriz-modal-input autoriz-email"
            type="email"
            placeholder="EMAIL"
            id ="user_email"
            name="autoriz_email" />
          <svg class="autoriz-icon">
            <use href="./images/svg/general-svg.svg.svg#icon-lock"></use>
            </svg></label>
      </div>

      <div class="input-wrapper">
        <label class="autoriz-label-password" for="user_password">
          <input
            class="autoriz-modal-input"
            type="password"
            placeholder="PASSWORD"
            id ="user_password"
            name="autoriz_password" 
            minlength="6"/>
          <svg class="autoriz-icon">
            <use href="./images/svg/general-svg.svg.svg#icon-mail"></use>
            </svg></label>
      </div>

      <button class="autoriz-sing-up-btn" type="submit">sing up</button>
      <div class="autoriz-text">
        <button class="autoriz-sub-btn" type="submit">sing up</button>
        <button class="autoriz-sub-btn" type="submit">sing in</button>
      </div>
    </form>
  </div>
</div>

