<div class="backdrop autoriz-menu-container">
  <div class="autoriz-modal">
    <button class="autoriz-modal-btn" type="button">
        <svg>
            <use href="">

            </use>
        </svg>
    </button>

    <form class="autoriz-modal-form">
        <input type="text" placeholder="">
        <input type="text" placeholder="">
        <input type="text" placeholder="">
        <button class="">Sign up</button>
        <p>sign up</p>
        <p>sing in</p>
    </form>
  </div>
</div>
