<div class="backdrop-burger is-hidden" burger-data-modal>
  <div class="burger-modal menu-container" id="mobile-menu">
    <button type="button" class="sign-btn-burger sign-btn autoriz-open-menu">
      Sign up
      <svg class="arrow" width="20" height="20">
        <use
          href="./images/svg/general-svg.svg.svg#icon-arrow-narrow-right"
        ></use>
      </svg>
    </button>

    <div class="btn-burger">
      <a class="home-btn-burger" href="./index.html">HOME</a>
      <a class="shop-btn-burger" href="./shoppingList.html"
        >SHOPPING LIST
        <svg class="shop-logo-burger" width="20" height="20">
          <use href="./images/svg/general-svg.svg.svg#icon-bag-shop"></use>
        </svg>
      </a>
    </div>

    <ul class="burger-books-list">
      <li class="list-burger">
        <img
          src="./images/mobal-mobile/image5@x1.png"
          class="img-burger"
          width="104"
          height="133"
        />
      </li>
      <li class="list-burger">
        <img
          src="./images/mobal-mobile/image1@x1.png"
          class="img-burger"
          width="104"
          height="133"
        />
      </li>
      <li class="list-burger">
        <img
          src="./images/mobal-mobile/image2@x1.png"
          class="img-burger"
          width="104"
          height="133"
        />
      </li>
      <li class="list-burger">
        <img
          src="./images/mobal-mobile/image6@x1.png"
          class="img-burger"
          width="104"
          height="133"
        />
      </li>
      <li class="list-burger">
        <img
          src="./images/mobal-mobile/image7@x1.png"
          class="img-burger"
          width="104"
          height="133"
        />
      </li>
      <li class="list-burger">
        <img
          src="./images/mobal-mobile/image3@x1.png"
          class="img-burger"
          width="104"
          height="133"
        />
      </li>
      <li class="list-burger">
        <img
          src="./images/mobal-mobile/image4@x1.png"
          class="img-burger"
          width="104"
          height="133"
        />
      </li>
      <li class="list-burger">
        <img
          src="./images/mobal-mobile/image8@x1.png"
          class="img-burger"
          width="104"
          height="133"
        />
      </li>
      <li class="list-burger">
        <img
          src="./images/mobal-mobile/image9@x1.png"
          class="img-burger"
          width="104"
          height="133"
        />
      </li>
      <li class="list-burger">
        <img
          src="./images/mobal-mobile/image10@x1.png"
          class="img-burger"
          width="104"
          height="133"
        />
      </li>
      <li class="list-burger">
        <img
          src="./images/mobal-mobile/image11@x1.png"
          class="img-burger"
          width="104"
          height="133"
        />
      </li>
      <li class="list-burger">
        <img
          src="./images/mobal-mobile/image12@x1.png"
          class="img-burger"
          width="104"
          height="133"
        />
      </li>
    </ul>
  </div>
</div>
