<header>
  <div class="header-container container">
    <a class="logo-link" href="./index.html">
      <svg class="logo" width="24" height="24">
        <use href="./images/svg/general-svg.svg.svg#icon-logo-1"></use>
      </svg>
      <svg class="logo-book" width="81" height="24">
        <use href="./images/svg/general-svg.svg.svg#icon-Bookshelf"></use>
      </svg>
    </a>
    <a class="home-btn active-home is-hidden" href="./index.html">HOME</a>
    <a class="shop-btn is-hidden" href="./shoppingList.html"
      >SHOPPING LIST
      <svg class="shop-logo" width="20" height="20">
        <use href="./images/svg/general-svg.svg.svg#icon-lock"></use>
      </svg>
    </a>
    <div class="theme-switch__control">
      <input
        class="theme-switch__toggle"
        type="checkbox"
        name="theme"
        id="theme-switch-toggle"
        aria-label="Переключить тему"
      />
      <label
        aria-hidden="true"
        class="theme-switch__track"
        for="theme-switch-toggle"
      >
      </label>
      <div aria-hidden="true" class="theme-switch__marker"></div>
    </div>
    <div class="autorithation-container">
      <button type="button" class="sign-btn" autoriz-open-menu>
        Sign up
        <svg class="arrow" width="20" height="20">
          <use
            href="./images/svg/general-svg.svg.svg#icon-arrow-narrow-right"
          ></use>
        </svg>
      </button>
      <div class="display-none">
        <button class="menu-toggle burger-modal-open">
          <svg class="icon-burger" width="28" height="28">
            <use href="./images/svg/general-svg.svg.svg#icon-align-left"></use>
          </svg>
        </button>
        <button class="menu-toggle burger-modal-close hiden-burger">
          <svg class="icon-burger" width="28" height="28">
            <use href="./images/svg/general-svg.svg.svg#icon-x-close"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
