<header>
<div class="header-container">
    <a href="./index.html">
        <svg class="logo">
            <use></use>
        </svg>
        <span>Bookshelf</span>
    </a>
    <button type="button">Home</button>
    <button type="button">Shopping List
        <svg class="shop-logo">
            <use></use>
        </svg>
    </button>
    <div class="theme-switch__control">
        <input class="theme-switch__toggle" type="checkbox" name="theme" id="theme-switch-toggle"
          aria-label="Переключить тему" />
        <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle"> </label>
        <div aria-hidden="true" class="theme-switch__marker"></div>
      </div>
      <div class="autorithation-container">
        <button type="button">
            <svg class="arrow">
                <use></use>
            </svg>
        </button>
    </div>
</div>
</header>
