<button class="btn-modal" type="button">Click</button>
<div class="modal-add-book-window">
  <button class="close-btn-modal">
    <svg class="close-svg-modal" width="28" height="28">
      <use href="./images/svg/general-svg.svg.svg#icon-x-close"></use>
    </svg>
  </button>
  <img src="./images/modal/image1@1x.png" alt="" />
  <div>
    <h3>ASDASDSAa</h3>
    <p>asdas</p>
    <p>adasdasdiasdhsadasd</p>
    <ul>
      <li>
        <a href=""
          ><svg class="svg-modal" width="62" height="">
            <use href="./images/modal/image1@1x.png"></use>
          </svg>
        </a>
      </li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
  </div>
  <button class="btn-chose-book">Add to shopping list</button>
</div>
