<main>
  

  <div id="bookList" class="booklist"></div>
  <!-- <style>
      img {
        width: 200px;
        height: 300px;
      }
      .booklist {
        display: flex;
        gap: 24px;
        margin-left: 10px;
        flex-direction: column;
        width: 913px;
      }
      .ico-buy {
        width: 40px;
      }
      .book {
        border: solid 2px rgb(65, 7, 237);
        border-radius: 10px;
        padding: 15px;
        width: px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        text-align: start;
        position: relative;
      }
      .book__image {
        padding-right: 10px;
      }
      .book__buy-link {
        height: 40px;
        margin: 10px;
      }
      .book__title {
        margin-bottom: 10px;
        text-align: start;
        display: flex;
        justify-content: start;
      }
      .book__description {
        flex-direction: column;
        margin-bottom: 10px;
        width: 400px;
      }
      .container-card {
        display: block;
      }
      .delete-book {
        width: 60px;
        height: 30px;
        position: absolute;
        top: 10;
        right: 10;
      }
    </style> -->
  <style>
    .tablet {
      width: 100%;
      flex-direction: column;
      display: flex;
    }
    .book__author {
      color: #b4afaf;
      font-size: 12px;
      font-style: italic;
      line-height: 1.17;
    }
    .book__title {
      margin-bottom: 4px;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.12;
    }
    .book {
      width: 996px;
      border: 2px solid #4f2ee866;
      border-radius: 16px;
      margin-bottom: 20px;
      padding: 20px;
      position: relative;
      display: flex;
    }
    .delete-book {
      width: 28px;
      height: 28px;
      background-color: #4f2ee8;
      border: none;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      padding: 0;
      display: flex;
      position: absolute;
      top: 14px;
      right: 14px;
    }
    .book__image {
      max-width: 98px;
      max-height: 139px;
      flex-shrink: 0;
      margin-bottom: 4px;
      margin-right: 20px;
    }
    .shoping-box {
      align-items: flex-end;
      margin-top: auto;
      display: flex;
    }
    .logo-list {
      justify-content: end;
    }
    .booklist {
      margin-left: 400px;
    }
  </style>
  <div id="empty-message">Вы не выбрали книги</div>
</main>
