<div>
  <div>
    <h1>Support Ukraine</h1>
    <svg class="ukraine-icon"></svg>
    <use></use>
    <ul>
      <li>
        <span>01</span>
        <a href="">
          <svg class="scroll-icon">
            <use></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <span>02</span>
        <a href="">
          <svg class="scroll-icon">
            <use></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <span>03</span>
        <a href="">
          <svg class="scroll-icon">
            <use></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <span>04</span>
        <a href="">
          <svg class="scroll-icon">
            <use></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <span>05</span>
        <a href="">
          <svg class="scroll-icon">
            <use></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <span>06</span>
        <a href="">
          <svg class="scroll-icon">
            <use></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <span>07</span>
        <a href="">
          <svg class="scroll-icon">
            <use></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <span>08</span>
        <a href="">
          <svg class="scroll-icon">
            <use></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <span>09</span>
        <a href="">
          <svg class="scroll-icon">
            <use></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
