<div class="support-container">
  <div class="support-main">
    <h1 class="support-title">Support Ukraine</h1>
    <svg class="ukraine-icon" width="20px" height="32px">
      <use href="./images/suport/suport-svg.svg#tryzub"></use>
    </svg>
  </div>
  <ul class="support-list">
    <li class="support-item">
      <span class="support-nmbr">01</span>
      <a href="" class="support-link">
        <svg class="icon" width="129px" height="32px">
          <use href="./images/suport/suport-svg.svg#icon-8"></use>
        </svg>
      </a>
    </li>
    <li class="support-item">
      <span class="support-nmbr">02</span>
      <a href="" class="support-link">
        hello
        <svg class="icon">
          <use></use>
        </svg>
      </a>
    </li>
    <li class="support-item">
      <span class="support-nmbr">03</span>
      <a href="" class="support-link"
        >hello
        <svg class="icon">
          <use></use>
        </svg>
      </a>
    </li>
    <li class="support-item">
      <span class="support-nmbr">04</span>
      <a href="" class="support-link">
        hello
        <svg class="icon">
          <use></use>
        </svg>
      </a>
    </li>
    <li class="support-item">
      <span class="support-nmbr">05</span>
      <a href="" class="support-link">
        hello
        <svg class="icon">
          <use></use>
        </svg>
      </a>
    </li>
    <li class="support-item">
      <span class="support-nmbr">06</span>
      <a href="" class="support-link">
        hello
        <svg class="icon">
          <use></use>
        </svg>
      </a>
    </li>
    <li class="support-item">
      <span class="support-nmbr">07</span>
      <a href="" class="support-link">
        hello
        <svg class="icon">
          <use></use>
        </svg>
      </a>
    </li>
    <li class="support-item">
      <span class="support-nmbr">08</span>
      <a href="" class="support-link">
        hello
        <svg class="icon">
          <use></use>
        </svg>
      </a>
    </li>
    <li class="support-item">
      <span class="support-nmbr">09</span>
      <a href="" class="support-link">
        hello
        <svg class="icon">
          <use></use>
        </svg>
      </a>
    </li>
  </ul>
  <a class="scroll-btn">
    <svg class="scroll-icon" width="32px" height="32px">
      <use href="./images/suport/suport-svg.svg#icon-slider"></use>
    </svg>
  </a>
</div>
