<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="support-container">
      <div class="support-main">
        <h1 class="support-title">Support Ukraine</h1>
        <svg class="ukraine-icon" width="20px" height="32px">
          <use href="./images/suport/suport-svg.svg#tryzub"></use>
        </svg>
      </div>
      <ul class="support-list">
        <li class="support-item">
          <span class="support-nmbr">01</span>
          <a href="" class="support-link">
            <svg class="icon" width="129px" height="32px">
              <use href="./images/suport/support-svg.svg#icon-image1"></use>
            </svg>
          </a>
        </li>
        <li class="support-item">
          <span class="support-nmbr">02</span>
          <a href="" class="support-link">
            <svg class="icon" width="62px" height="32px">
              <use href="./images/suport/support-svg.svg#icon-image2"></use>
            </svg>
          </a>
        </li>
        <li class="support-item">
          <span class="support-nmbr">03</span>
          <a href="" class="support-link">
            <svg class="icon" width="103px" height="32px">
              <use href="./images/suport/support-svg.svg#icon-image3"></use>
            </svg>
          </a>
        </li>
        <li class="support-item">
          <span class="support-nmbr">04</span>
          <a href="" class="support-link">
            <svg class="icon" width="82px" height="32px">
              <use href="./images/suport/support-svg.svg#icon-image4"></use>
            </svg>
          </a>
        </li>
        <li class="support-item">
          <span class="support-nmbr">05</span>
          <a href="" class="support-link">
            <svg class="icon" width="115px" height="32px">
              <use href="./images/suport/support-svg.svg#icon-image5"></use>
            </svg>
          </a>
        </li>
        <li class="support-item">
          <span class="support-nmbr">06</span>
          <a href="" class="support-link">
            <svg class="icon" width="82px" height="32px">
              <use href="./images/suport/support-svg.svg#icon-image6"></use>
            </svg>
          </a>
        </li>
        <li class="support-item">
          <span class="support-nmbr">07</span>
          <a href="" class="support-link">
            <svg class="icon" width="90px" height="32px">
              <use href="./images/suport/support-svg.svg#icon-image7"></use>
            </svg>
          </a>
        </li>
        <li class="support-item">
          <span class="support-nmbr">08</span>
          <a href="" class="support-link">
            <svg class="icon" width="100px" height="32px">
              <use href="./images/suport/support-svg.svg#icon-image8"></use>
            </svg>
          </a>
        </li>
        <li class="support-item">
          <span class="support-nmbr">09</span>
          <a href="" class="support-link">
            <svg class="icon" width="125px" height="32px">
              <use href="./images/suport/support-svg.svg#icon-image9"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a class="scroll-btn">
        <svg class="scroll-icon" width="32px" height="32px">
          <use href="./images/suport/suport-svg.svg#icon-slider"></use>
        </svg>
      </a>
    </div>
    <script src="./js/support.js" type="module"></script>
  </body>
</html>
