.modal-add-book-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 2px solid $accent-text-color;
  border-radius: 18px;
  min-width: 335px;
  min-height: 762px;
  background-color: $second-color;
  
  padding: 40px 24px;

  @include mq(tablet) {
    width: 579px;
    min-height: 465px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  background: rgba(17, 17, 17, 0.4);
}

body {
  position: relative;
}

.btn-chose-book {
  min-width: 211px;
  min-height: 46px;
  border: 2px solid $accent-text-color;
  background-color: $second-color;
  border-radius: 40px;
  margin-bottom: 8px;
  @include text(700, 14px, 1.33, false);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include mq(tablet) {
    width: 499px;
    &:hover,:focus{
      background-color: $accent-text-color;
      color: $second-color;
    }

    @include text(700, false, 1.33, false);
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.all-book-modal {
  margin-bottom: 40px;
  @include mq(tablet) {
    display: flex;
  }
}

.close-btn-modal {
  background-color: $second-color;
  border: none;
  position: absolute;
  width: 28px;
  height: 28px;
  top: 12px;
  right: 12px;
  @include mq(tablet){
    top: 20px;
    right: 24px;
  }
}

.close-svg-modal {
  stroke: $primary-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover{
    stroke: $accent-text-color;
  }
}

.img-book-modal {
  width: 287px;
  height: 408px;
  border-radius: 8px;
  margin-bottom: 14px;
  @include mq(tablet) {
    width: 192px;
    height: 281px;
    margin-right: 24px;
    margin-bottom: 0px;
  }
}

.title-book-modal {
  max-width: 192px;
  color: $primary-color;
  margin-bottom: 8px;
  @include text(700, 24px, 1.17, -0.04em);
}

.author-book-modal {
  font-style: italic;;
  color: $second-text-color;
  margin-bottom: 20px;
  @include text(400, 14px, 1.29, -0.04em);
}

.text-book-modal {
  max-width: 279px;
  color: $primary-color;
  margin-bottom: 20px;
  padding-right: 44px;
  @include text(400, 14px, 1.29, -0.04em);
}

.logo-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.peshka {
  @include text(400, 10px, 1.2, -0.04em);
  margin: 0 auto;
  max-width: 242px;
  text-align: center;
  color: rgba(17, 17, 17, 0.5);
  @include mq(tablet){
    max-width: 324px;
  }
}
