.backdrop-burger {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 66px;
    z-index: 9;
}

.backdrop-burger.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu-container {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 375px;
        height: 100%;
    
        padding: 30px;
    
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: radial-gradient(183.6% 183.01% at 59.76% -23.42%,
            #4f2ee8 18.03%,
            #ffffff 100%);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}

.is-open-body {
    overflow: hidden;
}


.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: var(--title-text-color);
}

@media only screen and (min-width: 768px) {
    .menu-container {
        display: none;
    }
}



.mobile-menu .list {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.burger-books-list {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
    top: 55%;
    right: -15%;
    overflow: hidden;
    position: absolute;
    transform: rotate(-5deg);
    overflow: hidden;
}

.list-burger {
    border-radius: 8px;
}

.hiden-burger {
    opacity: 0;
    display: none;
}

.micon-burger-close {
    border: none;
    background-color: $second-color;
    margin-left: auto;
    margin-left: 14px;

    @include mq(tablet) {
        display: none;
    }
}

.sign-btn-burger.sign-btn {
    display: flex;
    width: 184px;
    height: 48px;
    background-color: $accent-text-color;
    border-radius: 18px;
    color: $second-color;
    border: 1.5px solid #111111;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 90px;
    margin-left: 20px;
    top: 40px;
}

.btn-burger{
    display: flex;
    flex-wrap: wrap;
    width: 140px;
    margin-top: 120px;
    margin-left: 98px;
}

.home-btn-burger{
    background-color: #EAC645;
    padding: 8px 16px;
    border-radius: 36px;
    color: #111111;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.04em;
    margin-bottom: 16px;
}

.shop-btn-burger {
        width: 156px;
        color: #fff;
        white-space: nowrap;
        border-radius: 36px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4px;
        padding: 0;
        font-weight: 500;
        display: flex;
}

.shop-logo-burger{
    fill: #FFFFFF;
    padding-top: 4px;
}