.header-container {
  display: flex;
  height: 72px;
  border: 1.5px solid #111;
  border-radius: 0 0 8px 8px;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.logo-link {
  margin-right: 76px;
}
.logo {
  text-align: center;
  margin-right: 8px;
}
.logo-span {
  color: $primary-color;
  margin-left: 8px;
}
.home-btn {
  display: none;

  @include mq(tablet) {
    display: flex;
    flex-direction: row;
    padding: 8px 16px;
    width: 72px;
    height: 34px;
    border-radius: 36px;
    color: $primary-color;
    margin-right: 16px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    &:hover,
    :focus {
      background-color: $accent-button-color;
      font-weight: 700;
    }
  }
  @include mq(desktop) {
    margin-right: 24px;
  }
}
.shop-btn {
  display: none;

  @include mq(tablet) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 36px;
    gap: 4px;
    height: 34px;
    width: 156px;
    color: $primary-color;
    white-space: nowrap;
    font-weight: 500;
    &:hover,
    :focus {
      background-color: $accent-button-color;
      font-weight: 700;
      & .shop-logo {
        fill: $accent-button-color;
      }
    }
  }
}

.autorithation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.shop-logo {
  fill: $second-color;
  stroke: $primary-color;
  &:hover,
  :focus {
    fill: $accent-button-color;
  }
}
.sign-btn {
  display: none;

  @include mq(tablet) {
    display: flex;
    width: 184px;
    height: 45px;
    background-color: $accent-text-color;
    border-radius: 36px;
    color: $second-color;
    border: 1.5px solid #111111;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 90px;
    margin-left: 24px;
    margin-right: 0;
  }
}
.arrow {
  fill: $accent-button-color;
  stroke: $accent-button-color;
}
.icon-burger {
  background-color: $second-color;
  stroke: $primary-color;
}
.menu-toggle {
  border: none;
  background-color: $second-color;
  margin-left: auto;
  margin-left: 14px;

  @include mq(tablet) {
    display: none;
  }
}

.theme-switch__control {
  display: inline-block;
  align-items: center;
  position: relative;
  width: 40px;
  height: 24px;
  border-radius: 50em;
  padding: 3px 0;
  margin-left: auto;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-image: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-image: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}

.theme-switch__marker {
  position: absolute;
  background-color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(20px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

body.light-theme {
  background-color: $second-color;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body.dark-theme {
  background-color: $second-body-color;

  & .header-container {
    border-color: $second-color;
  }
  & .shop-btn {
    color: $second-color;
    &:hover,
    :focus {
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
      color: $primary-color;
      & .shop-logo {
        fill: $accent-button-color;
        stroke: $primary-color;
      }
      box-shadow: 0 0 5px rgb(255, 196, 0), 0 0 25px rgba(255, 187, 0, 0.445),
        0 0 50px rgba(251, 255, 0, 0.89), 0 0 100px rgb(255, 208, 0);
    }
  }
  & .home-btn {
    color: $second-color;
    &:hover,
    :focus {
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
      color: $primary-color;
      box-shadow: 0 0 5px rgb(255, 196, 0), 0 0 25px rgba(255, 187, 0, 0.445),
        0 0 50px rgba(251, 255, 0, 0.89), 0 0 100px rgb(255, 208, 0);
    }
  }

  & .shop-logo {
    fill: $second-body-color;
    stroke: $second-color;
  }

  & .logo-book {
    fill: $second-color;
  }

  & .btn-categoty {
    color: rgba(255, 255, 255, 0.6);
  }
  & .active-text {
    color: $accent-button-color;
  }

  & .title-hero {
    color: $second-color;
  }

  & .book-title {
    color: $second-color;
  }

  & .button-see-more {
    color: $second-color;
    &:hover,
    :focus {
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0 0 5px rgb(0, 4, 255), 0 0 25px rgba(68, 0, 255, 0.445),
        0 0 50px rgba(76, 0, 255, 0.658), 0 0 100px rgb(25, 0, 255);
    }
  }

  & .modal-icon-cross {
    stroke: $second-color;
    background-color: $second-body-color;
  }
  & .autoriz-modal-btn {
    background: $second-body-color;
  }

  & .autoriz-modal {
    background: $second-body-color;
    border-color: #f6f6f6;
  }

  & .autoriz-modal-form {
    background: $second-body-color;
  }
  & .autoriz-modal-input {
    border-color: $second-color;
    background-color: $second-body-color;
  }

  & .autoriz-icon {
    stroke: $second-color;
    fill: $second-body-color;
  }

  & .autoriz-sing-up-btn {
    background: #f6f6f6;
    color: $second-body-color;
    border: none;
  }
  & .autoriz-sub-btn {
    color: rgba(246, 246, 246, 0.5);
  }
  & ::placeholder {
    color: #f6f6f6;
  }
  & .icon-burger {
    background-color: $second-body-color;
    stroke: $second-color;
  }
  & .menu-toggle {
    background-color: $second-body-color;
  }
  & .sign-btn {
    border: none;
    &:hover {
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0 0 5px rgb(0, 4, 255), 0 0 25px rgba(68, 0, 255, 0.445),
        0 0 50px rgba(76, 0, 255, 0.658), 0 0 100px rgb(25, 0, 255);
    }
  }
  & .theme-switch__control {
    &:hover,
    :focus {
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0 0 5px rgb(0, 4, 255), 0 0 25px rgba(68, 0, 255, 0.445),
        0 0 50px rgba(76, 0, 255, 0.658), 0 0 100px rgb(25, 0, 255);
    }
  }
}
