.main {
  padding-top: 40px;
  position: relative;
  @include mq(desktop) {
    display: flex;
    gap: 40px;
  }
}
.aside {
  @include mq(mob-only) {
    margin-bottom: 40px;
  }

  @include mq(tablet-only) {
    display: flex;
    gap: 32px;
  }
}
