.main {
  padding-top: 40px;
  position: relative;
  @include mq(desktop) {
    display: flex;
    gap: 40px;
  }
}
.aside {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  @include mq(mob-only) {
    margin-bottom: 40px;
  }

  @include mq(tablet-only) {
    flex-direction: row;

    gap: 32px;
    margin-bottom: 100px;
  }
  @include mq(desktop) {
    row-gap: 86px;
  }
}
