.scroll-up-btn {
  display: block;
  width: 54px;
  height: 54px;
  bottom: 85px;
  right: 0px;
  // left: 620px;
  position: absolute;
  cursor: pointer;
  border-radius: 50px;
  background-color: #4f2ee8;
  border: transparent;
}

.scroll-up-btn {
  @include mq(tablet) {
    right: 55px;
    margin-bottom: 10px;
  }
}
.scroll-up-btn {
  @include mq(desktop) {
    right: 100px;
  }
}
.scroll-up-btn {
  border-color: #4f2ee8;
  color: #fff;
  transition: all 300ms ease-in-out;
  outline: none;

  &:hover {
    box-shadow: 0 0 10px 0 #4f2ee8 inset, 0 0 10px 4px #4f2ee8;
  }
}

// .scroll-up-btn:hover,
// .scroll-up-btn:focus {
//   background-color: #17017a;
// }

.scroll-up-btn.show {
  display: flex;
}
