.support-container {
  position: relative;
  width: 335px;
  height: fit-content;
  left: 20px;
  top: 372px;
  background: radial-gradient(
      183.6% 183.01% at 59.76% -23.42%,
      #4f2ee8 18.03%,
      #ffffff 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;
  overflow: hidden;
}

.support-list {
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.support-main {
  display: flex;
}
.support-title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 1.14;
  color: $second-color;
  padding-left: 40px;
  padding-top: 24px;
  margin-right: 12px;
}
.ukraine-icon {
  margin-top: 24px;
}
.support-item {
  max-height: 32px;
  margin-left: 40px;
  display: flex;
  justify-content: flex-start;
}

.support-item:not(:last-child) {
  margin-bottom: 20px;
}
.support-link {
  display: flex;
}
.support-item:first-child {
  margin-top: 40px;
}
.support-item {
  max-height: 32px;
}
.support-nmbr {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: $second-color;
  margin-right: 16px;
}
.scroll-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 16px;
}

.scroll-btn._active {
  transform: rotate(0deg);
}

.support-list {
  display: none;
}

.hide-btn {
  display: none;
}
.show {
  display: block;
}
.icon {
  max-height: 32px;
  max-width: 130px;
}
.toggle {
  display: none;
}
